@page "/"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthenticatedUser")]

@using BlazorApp1.Models
@using BlazorApp1.Codes
@inject ToDoContext _toDoContext;
@inject CprSubmitHandler _csb;
@inject HashingHandler _hashHandler;
@inject AuthenticationStateProvider _asp;

<PageTitle>Home</PageTitle>

<h3>@name</h3>
@if (cprNr == null)
{
    <h5>Opret et Cpr nummer:</h5>
}
else
{
    <h5>Indtast Cpr nummer:</h5>
}
<input type="text" @bind="@_userInputCpr" style="width:160px;height:45px;" @onkeyup="@Enter" />
@if (error)
{
    <h5>Hov, du tastede vidst forkert! :/</h5>
}
else
{
    <br/>
}
<input type="button" value="Submit" style="width:160px;height:45px;" @onclick="SubmitCpr" />


@code {
    private string? _userInputCpr;
    private string? name { get; set; }
    private string? cprNr { get; set; }
    private bool error { get; set; }
    private bool auth { get; set; }

    protected async override void OnInitialized()
    {
        string hashedValue = _hashHandler.BCryptHashing("test");
        bool result = _hashHandler.BCryptVerifyHashing("test", hashedValue);

        //Henter nuværende bruger
        var authstate = await _asp.GetAuthenticationStateAsync();
        name = authstate.User.Identity.Name;
        auth = authstate.User.Identity.IsAuthenticated;
    }

    private void SubmitCpr()
    {
        if (auth)
        {
            Cpr Value = new Cpr
                {
                    User = name,
                    CprNr = _userInputCpr
                };
            error = _csb.SubmitCpr(_toDoContext, Value);
        }
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SubmitCpr();
        }
    }
}